.todoImage {
    background: none;
    height: 0px;
  }
  
  .todoImage:hover {
    -webkit-box-shadow: -1px 17px 18px 8px rgba(0,0,0,0.62); 
    box-shadow: -1px 17px 18px 8px rgba(0,0,0,0.62);
  }
  
  .sunDesktop {
    font-weight: 700;
  }

  .moonDesktop {
    font-weight: 700;
  }