@import '../../variables';

@each $theme-color, $v in $theme-colors {
    .#{$theme-color} {
        .todoList {
            background-color: theme-color($theme-color, 'background-secondary') !important;
            transition: $default-transition;
        }
        .todoList .taskName{
            background-color: theme-color($theme-color, 'background-secondary');
            color: theme-color($theme-color, 'text-secondary');
            transition: $default-transition;
        }
        .todoList .taskName::placeholder {
          color: theme-color($theme-color, 'text-secondary');
        }
        .todoList .taskCompleted {
          color: theme-color($theme-color, 'text-completed');
          transition: $default-transition;
        }
        .todoList .taskDelete .complete {
          color: theme-color($theme-color, 'text-completed');
          transition: $default-transition;
        }
        .taskList:hover {
          color: theme-color($theme-color, 'text-secondary');
        }
        .taskList:hover input {
          background-color: theme-color($theme-color, 'background-secondary');
        }
        .todoList li {
          transition: $default-transition;
          border-bottom: 1px solid theme-color($theme-color, 'todo-separator');
        }
    }
}

.todoList {
  border-radius: 7px;
  max-width: 545px;
  width: 100%;
  margin-top: 40px;
}

.todoList .taskGrid {
  display: flex;
  justify-content: space-between;
}

.todoList li {
  padding-top: 7px;
  padding-bottom: 7px;
}

.todoList .taskName{
  font-size: 20px;
  padding-top: 10px;
  height: 30px;
  text-align: left;
  width: calc(100% - 165px);
  border-radius: 7px;
  outline: none;
  border: none;
}

.todoList .taskCompleted {
  text-decoration: line-through;
}

.todoList .taskDelete .complete {
  text-decoration: line-through;
}

.taskList {
  outline: none;
  background: none;
  transition: opacity 500ms ease-in-out;
  height: 40px;
  overflow: hidden;
}

.taskList:hover {
  border-radius: 7px;
}

.itemEnter {
  opacity: 0;
  height: 0;
}
.itemEnterActive {
  opacity: 1;
  transition: all 500ms ease-in-out;
  height: 40px;
}
.itemExit {
  opacity: 1;
  height: 40px;
}
.itemExitActive {
  opacity: 0;
  transition: all 500ms ease-in-out;
  height: 0;

}

.taskGrid .taskDelete{
  font-size: 18px;
  padding-top: 10px;
  margin-left: 50px;
  margin-right: 15px;
  height: 30px;
  text-align: center;
  margin-top: 5px;
  border: none;
  outline: none;
  background: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.taskGrid:hover .taskDelete{
  opacity: 1;
  cursor: pointer;
}

@media only screen and (max-width: 540px) {
  .taskGrid .taskDelete{
    opacity: 1;
  }
}
