.todoList {
  background-color: #25273c;
  border-radius: 7px;
  max-width: 545px;
  width: 100%;
  margin-top: 40px;
  -webkit-box-shadow: 0px 24px 23px 8px rgba(0,0,0,0.45);
  box-shadow: 0px 24px 23px 8px rgba(0,0,0,0.45);
}

.todoList li {
  border-bottom: 1px solid #37394e;
  padding-top: 7px;
  padding-bottom: 7px;
}

.todoList .taskName{
  font-size: 18px;
  padding-top: 10px;
  margin-left: 50px;
  height: 30px;
  text-align: left;
  margin-top: 5px;
}
