@import '../../variables';

@each $theme-color, $v in $theme-colors {
  .#{$theme-color} {
      .filters li .filterButton{
        color: theme-color($theme-color, 'text-primary');
      }
      .filters li .filterButton:hover {
        color: theme-color($theme-color, 'text-secondary')
      }
  }
}

.filters{
  width: 170px;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.filters li{
  display: inline;
}
.filters li .filterButton{
  font-family: 'Josefin Sans';
  border: none;
  background: none
}

.filters li .filterButton.active {
  color: #4b7eff;
  font-weight: bold;
}

.themeIndicator {
  display: none;
}
