@import '../../dark';

.filters{
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.filters li{
  display: inline;
}
.filters li a{
  color: $filter-text;
}

.filters li a:hover, .filters li a.active{
  color: $filter-hover;
}

.themeIndicator {
  display: none;
}
