.App {
  text-align: center;
  color: #b2b4cd;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.todoTitle {
  font-size: 52px;
  color: #fff;
  margin-left: 400px;
  position: absolute;
  padding-top: 70px;
  font-weight: 700;
}

.sunDesktop {
  margin-left: 220px;
  position: absolute;
  padding-top: 70px;
  font-weight: 700;
}

.bgDesktop {  
  width: 100%;
  display: flex;
}

.App-link {
  color: #61dafb;
}

.todoInput {
  position: absolute;
  padding-top: 150px;
  margin-left: 405px;
}

.todoInput input {
  background-color: #25273c;
  border: none;
  outline: none;
  width: 475px;
  height: 50px;
  border-radius: 7px;
  color: #b2b4cd;
  font-family: 'Josefin Sans';
}

.todoList {
  background-color: #25273c;
  max-width: 475px;
  border-radius: 7px;
  margin-left: 405px;
}

.todoList li {
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
  border-bottom: 1px solid #f00;
  padding-top: 15px;
}

.todoList .todoCheckbox {
  appearance: none;
}

.optionsContainer {
  display: flex;
  background-color: #25273c;  
  max-width: 475px;
  border-radius: 0px 0px 7px 7px;
  margin-left: 405px;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 15px;
  margin-bottom: 50px;
}

.attribution {
  display: none;
}
