.App {
  text-align: center;
  color: #b2b4cd;
  background: url("./bg-desktop-dark.jpg") repeat-x;
  background-position: top center;
  padding: 30px;
}

.mainContainer {
  max-width: 540px;
  width: 100%;
  margin: auto;
}

.todoHeader {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
}

.todoTitle {
  font-size: 52px;
  color: #fff;
  font-weight: 700;
}

.sunDesktop {
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}

.optionsContainer {
  color: #595a6e;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #25273c;
  height: 15px;
  border-radius: 0px 0px 7px 7px;
  font-size: 14px;
}

.listNOptions {
  -webkit-box-shadow: 0px 24px 23px 8px rgba(0,0,0,0.45);
  box-shadow: 0px 24px 23px 8px rgba(0,0,0,0.45);
}


.dragDrop {
  padding-top: 50px;
  margin: auto;
  color: #595a6e;
  padding-bottom: 30px;
}

.attribution {
  display: none;
}
